.first-image-container {
    background-image: url(../Images//headerbg\ \(2\).jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-container-heading {
    font-size: 60px;
    position: relative;
    top: 40px;
  }