/* AddProductForm.css */

.form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color:whitesmoke;
}

.form-group {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-container input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 2px 2px 20px rgba(33, 150, 243, 0.5);

  
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 25px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #45a049;
}
.required{
  font-size: 15px;
  color: red;
}
.delete{
  background-color: red !important;
  /* position: relative !important;
  left: 550px; */
}
.add-product-container{
  border: 2px solid gray;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.form-container select {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 3px), calc(100% - 15px) calc(1em + 3px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-container select:hover {
  border-color: #2196f3;
}

.form-container select:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.form-container option {
  color: #333;
  
}
